section {
  border: solid black;
  background-color: green;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;

  h3 {
    grid-column: 1 / -1;
    text-align: center;
  }
  &:hover {
    color:red;
  }

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
